:root {
    --light-bg-color: #e7e7e7;
    --primary-color: #55be92;
    --primary-checked-color: #53b68c;
    --back-bg-color: #e7e7e7;
    --selected-bg-color: #f1f6f3;
    --hover-bg-color: #aee0cc;

}
.bg-primary {
    background-color: var(--primary-color) !important;
}