@media (min-width: 767.98px) {
    .chat-box {
        z-index: 1;
        margin-left: 30%;
        margin-right: 15%;
    }
    .message-sender {
        z-index: 1;
        margin-left: 30%;
        margin-right: 15%;
    }
}

.chat-box {
    height: 75vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.text-bottom-sender {
    position: absolute;
    left: 67px;
    bottom: -20px;
}

.text-bottom-reciever {
    position: absolute;
    right: 0px;
    bottom: -28px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    width: 10px;
    background: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 2em;
    background-color: #ddd;
    border-radius: 1rem;
  }

.bg-grey {
    background-color: var(--light-bg-color) !important;

}

.dummy-space-right {
    position: relative;
    margin-left: 400px !important;
}

.dummy-space-left {
    position: relative;
    margin-right: 400px !important;
}

.reciever-msg {
    position: relative;
    padding-left: 20% !important;
    padding-top: 20px !important;

    float: right;
}

.sender-msg {
    position: relative;
    padding-right: 20% !important;
    padding-top: 20px !important;
    float: left;
}

.rounded {
    border-radius: 15px !important;
    float: left;
}

.send-btn {
    border-radius: 15px !important;
}

.top-text-muted {
    margin-left: 7px !important;
    margin-bottom: 3px !important;
    white-space: nowrap;
}

#messageSenderBox {
    padding: 10px;
    width: 20em;
    min-height: 2.5em;
    max-height: 5em;
    overflow: auto;
}

.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-primary:hover {
    color: white;
    background-color: var(--primary-color);
    border-color: var(--primary-checked-color) !important;

}

.btn-outline-primary:active {
    background-color: var(--primary-checked-color) !important;
    border-color: var(--primary-checked-color) !important;

}

.form-control {
    border-radius: 15px !important;
    background-color: var(--light-bg-color);
}

.form-group {
    bottom: 0px !important;
}